---
import liff from '@line/liff';
// import calendarStyle from "../styles/calendar.css";

export const googleCal = () => {
    if(liff.isLoggedIn()){
        return (
                <div>
                </div>
                )
            } else {
                return (
                    <p>ログインしてください</p>
                    )
                }
}
---

